---
import { SEO } from "astro-seo";
import type { SEOProps } from "astro-seo";
import "@fontsource-variable/rethink-sans";

export interface Props {
  title?: string;
  affiliateProgramId?: string;
  seo?: Partial<SEOProps>;
}

const { title, affiliateProgramId, seo = {} } = Astro.props;

const makeTitle = title
  ? title + " — " + "With Otto"
  : "With Otto — Transform bank reconciliation from tedious to effortless with your new AI assistant";

const defaultCanonical = new URL(Astro.url.pathname, Astro.site).toString();
const defaultImage = new URL("/opengraph.png", Astro.site).toString();
const defaultDescription = "With Otto — Transform bank reconciliation from tedious to effortless with your new AI assistant";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta name="viewport" content="width=device-width" />
    
    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    
    <!-- Web App Manifest -->
    <link rel="manifest" href="/site.webmanifest" />
    
    <!-- Theme colour for mobile browsers -->
    <meta name="theme-color" content="#02AC8A" />
    <meta name="msapplication-TileColor" content="#02AC8A" />
    
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    {
      affiliateProgramId && (
        <script
          src="https://pushlapgrowth.com/affiliate-tracker.js"
          data-affiliate
          data-program-id={affiliateProgramId}
          async></script>
      )
    }

    <SEO
      charset="UTF-8"
      canonical={defaultCanonical}
      title={makeTitle}
      description={defaultDescription}
      openGraph={{
        basic: {
          url: defaultCanonical,
          type: "website",
          title: makeTitle,
          image: defaultImage,
        },
        image: {
          alt: defaultDescription,
        },
        ...seo.openGraph,
      }}
      {...seo}
    />
  </head>
  <body class="flex min-h-full flex-col font-sans antialiased">
    <slot />
  </body>
</html>
